In [1]:
import pandas as pd

In [2]:
filepath = "cities.csv"

In [3]:
cities_df = pd.read_csv(filepath)
cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,aureliana,10.89,121.98,79.20,73,90,4.34,PH,1585692931
1,1,bethel,41.37,-73.41,48.20,61,90,6.93,US,1585692931
2,2,faget,45.85,22.18,27.00,79,94,5.82,RO,1585692932
3,3,mataura,-46.19,168.86,53.01,98,23,1.90,NZ,1585692932
4,4,hervey bay,-25.30,152.85,73.99,94,20,6.93,AU,1585692932

In [4]:
cities_df.to_html('table.html', index=False)